@import "../reset-context";

.time-input-container {
    reset-context();

    position: relative;

    .time-input {
        width: 120px;

        > input {
            display: block;
            width: 100%;
            line-height: 20px;
            height: auto;
            padding: 5px 0;
            padding-left: 30px;
            padding-right: 12px;
            font-size: 13px;
            color: #222222;
            border: 1px solid #ccc;
            border-radius: 3px;
            outline: none;

            &:focus {
                border-color: #0096cc;
            }
        }
    }

    .time-input-icon {
        position: absolute;
        left: 9px;
        top: 50%;
        margin-top: -10px;
        color: #666666;
    }
}
