.dateField {
    width: 120px;

    .dateInput {
        display: block;
        width: 100%;
        line-height: 20px;
        height: auto;
        padding: 5px 0;
        padding-left: 30px;
        padding-right: 12px;
        font-size: 13px;
        color: #222;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;

        &:focus {
            border-color: #0096cc;

        }
    }

    .calendarIconContainer {
        position: relative;
        left: 9px;
        margin-top: -26px;
    }

    .focused {
        color: #0096cc;
    }
}
