@import "reset-context";

.date-picker-container {
    reset-context();

    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: 248px;
}

:global {
    .react-date-picker__month-view-day--today-highlight {
        color: #db3d44 !important;
    }    
}
