.basic-month-view {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    width: 248px;

    .weekDayNamesContainer {
        height: 30px;
        .cell {
            width: 35px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            color: #222222;
            padding-top: 9px;
            padding: 5px 0px;
            min-width: 30px;
            float: left;
        }
    }

    .weekCell {
        min-width: 30px;
    }

    .dayCell {

    }

    .daysRow {
        height: 38px;
        font-weight: 500;
        font-family: Arial;
    }
}
