.yearView {
    height: 132px;

    .row {
        height: 44px;
        text-align: center;

        .month {
            height: 44px;
            width: 57px;
            float: left;
            cursor: pointer;
            padding: 10px 3px 10px 4px;

            .monthText {
                width: 50px;
                height: 24px;
                line-height: 24px;
                border-radius: 3px;

                &:hover {
                    background: #eee;
                }
            }

            &.active {
                color: white;
                .monthText {
                    background: #db3d44;
                }
            }

            &.disabled {
                cursor: default;
                color: grey;

                :hover {
                    background: transparent;
                }
            }

        }
    }
}
